body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#mapid { 
  width: 800px;
  height: 600px; 
}

.leaflet-control-custom {
  width: 30px;
  height: 30px;
}

.writeOff {
  background-color: white;
}

.writeOff:hover {
  background-color: #f4f4f4;
}

.writeOn {
  background-color: yellow;
}
.writeOn:hover {
  background-color: gold;
}
